<div class="image-details-grid">
            <div class="image-details-label">Description:</div>
            <div><%= creation.description %></div>
            <div class="image-details-label">Feel:</div>
            <div><%= creation.feel %></div>
            <div class="image-details-label">See:</div>
            <div><%= creation.see %></div>
            <div class="image-details-label">Do:</div>
            <div><%= creation.do %></div>
            <div class="image-details-label">Hear:</div>
            <div><%= creation.hear %></div>
            <div class="image-details-label">Pain:</div>
            <div><%= creation.pain %></div>
            <div class="image-details-label">Gain:</div>
            <div><%= creation.gain %></div>
            <!-- <div class="image-details-label">Affiliation:</div>
            <div><= persona.status %></div> -->
            <div class="image-details-label">Created:</div>
            <div><%= creation.createdAt.toDateString() %></div>
            <div class="image-details-label">User:</div>
            <div><%= creation.user.email %></div>
            <!-- <div class="image-details-label">Created By:</div>
            <div><= persona.user.email %></div> -->
            <br>
        </div>