
        <div class="container py-4">
            <div style="display: flex;" class="p-5 mb-4 bg-body-tertiary rounded-3">
              <div class="container-fluid py-1">
                <h1 class="display-5 fw-bold"><%= creation.name %></h1>
                <p class="col-md-12 fs-4"><%= creation.description %></p>
                <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
              </div>
              <div style="justify-content: center;">
              <img style="max-width: 400px; border-radius: 10px; box-shadow: 10px 5px 5px lightgray; max-height: 400px; justify-content: center;" src="<%= creation.coverImagePath %>">
            </div>
            </div>
        
            <div class="row align-items-md-stretch">
              <div class="col-md-6">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                  <h2>What They See/Hear:</h2>
                  <p><%= creation.feel %></p>
                  <!-- <button class="btn btn-outline-light" type="button">Example button</button> -->
                </div>
              </div>
              <div class="col-md-6">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                  <h2>What They Do:</h2>
                  <p><%= creation.hear %></p>
                  <!-- <button class="btn btn-outline-secondary" type="button">Example button</button> -->
                </div>
              </div>
            </div>
            <br>
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                      <h2>What They Say:</h2>
                      <p><%= creation.see %></p>
                      <!-- <button class="btn btn-outline-secondary" type="button">Example button</button> -->
                    </div>
                  </div>
                <div class="col-md-6">
                  <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>What They Think/Feel:</h2>
                    <p><%= creation.do %></p>
                    <!-- <button class="btn btn-outline-light" type="button">Example button</button> -->
                  </div>
                </div>
                
              </div>
              <br>
              <!-- <div class="row align-items-md-stretch">
                <div class="col-md-6">
                  <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>When They Feel Pain:</h2>
                    <p><= creation.pain %></p>
                     <button class="btn btn-outline-light" type="button">Example button</button> 
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>What They Gain:</h2>
                    <p><= creation.gain %></p>
                     <button class="btn btn-outline-secondary" type="button">Example button</button>
                  </div>
                </div> -->
              </div>