<div class="form-row">
  <div class="form-item">
    <label>Title</label>
    <input value="<%= object.name %>" type="text" name="name">
  </div>
</div>
<div class="form-row">
    
    <div class="form-item">
      <label>Creations</label>
      <select name="children" id="children" multiple>
        <% things.forEach(thing => { %>
          <% object.children.forEach(child => { %>
            <% if (thing.id == child.id) { %>
              <option selected label="<%= thing.name %>" value="<%= thing.id %>">
            <% } %>
          <% }) %>
        <% }) %>
    </select>
    <%- include('../../partials/multiselect.ejs', { id: 'children' }) %>
    </div>
    <div class="form-item">
          <select name="teams" id="teams" multiple>
            <% teams.forEach(team => { %>
                  <% if(contains(team, object.teams)) { %> <option selected label="<%= team.name %>" value="<%= team.id %>"> <% } else { %> <option label="<%= team.name %>" value="<%= team.id %>"> <% } %>
            <% }) %>
        </select>
        <%- include('../../partials/multiselect.ejs', { id: 'teams' }) %>
    </div>
    <div class="form-item">
      <% function contains(obj, list){ %>
        <%  var i; %>
        <%  for (i = 0; i < list.length; i++) { %>
          <%   if (list[i]._id == obj.id) { %>
            <%     return true; %>
            <%   } %>
            <%  } %>
            <% return false; %>
            <% } %>
          <select name="users" id="users" multiple>
            <% users.forEach(user => { %>
                  <% if(contains(user, object.users)) { %> <option selected label="<%= user.email %>" value="<%= user.id %>"> <% } else { %> <option label="<%= user.email %>" value="<%= user.id %>"> <% } %>
            <% }) %>
        </select>
        <%- include('../../partials/multiselect.ejs', { id: 'users' }) %>
    </div>
</div>
<div class="form-row">
  <div style="background-color: lightgoldenrodyellow; border-radius: 10px; justify-content: center; align-items: center;" class="form-item" id="div1" ondrop="drop(event, 'children')" ondragover="allowDrop(event)">Drag & Drop</div>
</div>