<div class="image-details-grid">
            <div class="image-details-label">Description:</div>
            <div><%= creation.description %></div>
            <div class="image-details-label">Data:</div>
            <div><%= creation.data %></div>
            <div class="image-details-label">Metric:</div>
            <div><%= creation.metric %></div>
            <div class="image-details-label">Goal:</div>
            <div><%= creation.goal %></div>
            <!-- <div class="image-details-label">Affiliation:</div>
            <div><= persona.status %></div> -->
            <div class="image-details-label">Created:</div>
            <div><%= creation.createdAt.toDateString() %></div>
            <!-- <div class="image-details-label">Created By:</div>
            <div><= persona.user.email %></div> -->
            <div class="image-details-label">User:</div>
            <div><%= creation.user.email %></div>
            <br>
        </div>