<div class="image-details-grid">
            <div class="image-details-label">Description:</div>
            <div><%= creation.description %></div>
            <div class="image-details-label">Who They Want To Be:</div>
            <div><%= creation.who %></div>
            <div class="image-details-label">What they want to do:</div>
            <div><%= creation.what %></div>
            <div class="image-details-label">How they want to feel:</div>
            <div><%= creation.how %></div>
            <!-- <div class="image-details-label">Affiliation:</div>
            <div><= persona.status %></div> -->
            <div class="image-details-label">Created:</div>
            <div><%= creation.createdAt.toDateString() %></div>
            <div class="image-details-label">User:</div>
            <div><%= creation.user.email %></div>
            <!-- <div class="image-details-label">Created By:</div>
            <div><= persona.user.email %></div> -->
            <br>
        </div>