<div class="form-row">
    <div class="form-item">
        <label>Name*</label>
        <input type="text" name="name" value="<%= object.name %>">
    </div>
    <div class="form-item form-item-no-grow">
        <label>Cover</label>
        <input type="file" name="cover" class="image-cover filepond">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Background & Demographic</label>
        <input name="demographic" value="<%= object.demographic %>"></input>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Hobbies and Interests<a href="javascript:void(0);" class="add_button_interests" title="Add field"><img height="20px" src="/stylesheets/shared/images/addicon.png"/></a></label>
        <div class="field_wrapper_interests">
            <div>
                <!-- <input type="text" name="field_name" value=""/> -->
                <!-- <a href="javascript:void(0);" class="add_button" title="Add field"><img height="20px" src="/stylesheets/shared/images/addicon.png"/></a> -->
                <% object.interests.forEach(interest => { %>
                <div>
                    <input type="text" name="interest" value="<%= interest %>"/>
                    <a href="javascript:void(0);" class="remove_button_interests"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a>
                </div>
                <% }) %>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                var maxField = 10; //Input fields increment limitation
                var addButtonInterests = $('.add_button_interests'); //Add button selector
                var wrapperInterests = $('.field_wrapper_interests'); //Input field wrapper
                var x = 1; //Initial field counter is 1
                // var fieldHTML = '<div><input type="text" name="field_name" value=""/><a href="javascript:void(0);" class="remove_button"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a></div>'; //New input field html 
                
                //Once add button is clicked
                $(addButtonInterests).click(function(){
                    //Check maximum number of input fields
                    if(x < maxField){ 
                        x++; //Increment field counter
                        $(wrapperInterests).append('<div><input type="text" name="interest" value=""/><a href="javascript:void(0);" class="remove_button_interests"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a></div>'); //Add field html
                    }
                });
                
                //Once remove button is clicked
                $(wrapperInterests).on('click', '.remove_button_interests', function(e){
                    e.preventDefault();
                    $(this).parent('div').remove(); //Remove field html
                    x--; //Decrement field counter
                });
            });
            </script>
    </div>
    <div class="form-item">
        <label>Career Motivations<a href="javascript:void(0);" class="add_button_motivations" title="Add field"><img height="20px" src="/stylesheets/shared/images/addicon.png"/></a></label>
        <div class="field_wrapper_motivations">
            <div>
                <!-- <input type="text" name="field_name" value=""/> -->
                <!-- <a href="javascript:void(0);" class="add_button" title="Add field"><img height="20px" src="/stylesheets/shared/images/addicon.png"/></a> -->
                <% object.motivations.forEach(motivation => { %>
                <div>
                    <input type="text" name="motivation" value="<%= motivation %>"/>
                    <a href="javascript:void(0);" class="remove_button_motivations"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a>
                </div>
                <% }) %>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                var maxField = 10; //Input fields increment limitation
                var addButtonMotivations = $('.add_button_motivations'); //Add button selector
                var wrapperMotivations = $('.field_wrapper_motivations'); //Input field wrapper
                var x = 1; //Initial field counter is 1
                // var fieldHTML = '<div><input type="text" name="field_name" value=""/><a href="javascript:void(0);" class="remove_button"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a></div>'; //New input field html 
                
                //Once add button is clicked
                $(addButtonMotivations).click(function(){
                    //Check maximum number of input fields
                    if(x < maxField){ 
                        x++; //Increment field counter
                        $(wrapperMotivations).append('<div><input type="text" name="motivation" value=""/><a href="javascript:void(0);" class="remove_button_motivations"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a></div>'); //Add field html
                    }
                });
                
                //Once remove button is clicked
                $(wrapperMotivations).on('click', '.remove_button_motivations', function(e){
                    e.preventDefault();
                    $(this).parent('div').remove(); //Remove field html
                    x--; //Decrement field counter
                });
            });
            </script>
    </div>
    <div class="form-item">
        <label>Peronality and Emotions<a href="javascript:void(0);" class="add_button_emotions" title="Add field"><img height="20px" src="/stylesheets/shared/images/addicon.png"/></a></label>
        <div class="field_wrapper_emotions">
            <div>
                <!-- <input type="text" name="field_name" value=""/> -->
                <!-- <a href="javascript:void(0);" class="add_button" title="Add field"><img height="20px" src="/stylesheets/shared/images/addicon.png"/></a> -->
                <% object.emotions.forEach(emotion => { %>
                <div>
                    <input type="text" name="emotion" value="<%= emotion %>"/>
                    <a href="javascript:void(0);" class="remove_button_emotions"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a>
                </div>
                <% }) %>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                var maxField = 10; //Input fields increment limitation
                var addButtonEmotions = $('.add_button_emotions'); //Add button selector
                var wrapperEmotions = $('.field_wrapper_emotions'); //Input field wrapper
                var x = 1; //Initial field counter is 1
                // var fieldHTML = '<div><input type="text" name="field_name" value=""/><a href="javascript:void(0);" class="remove_button"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a></div>'; //New input field html 
                
                //Once add button is clicked
                $(addButtonEmotions).click(function(){
                    //Check maximum number of input fields
                    if(x < maxField){ 
                        x++; //Increment field counter
                        $(wrapperEmotions).append('<div><input type="text" name="emotion" value=""/><a href="javascript:void(0);" class="remove_button_emotions"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a></div>'); //Add field html
                    }
                });
                
                //Once remove button is clicked
                $(wrapperEmotions).on('click', '.remove_button_emotions', function(e){
                    e.preventDefault();
                    $(this).parent('div').remove(); //Remove field html
                    x--; //Decrement field counter
                });
            });
            </script>
    </div>
    <div class="form-item">
        <label>Values<a href="javascript:void(0);" class="add_button_values" title="Add field"><img height="20px" src="/stylesheets/shared/images/addicon.png"/></a></label>
        <div class="field_wrapper_values">
            <div>
                <!-- <input type="text" name="field_name" value=""/> -->
                <!-- <a href="javascript:void(0);" class="add_button" title="Add field"><img height="20px" src="/stylesheets/shared/images/addicon.png"/></a> -->
                <% object.values.forEach(value => { %>
                <div>
                    <input type="text" name="value" value="<%= value %>"/>
                    <a href="javascript:void(0);" class="remove_button_values"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a>
                </div>
                <% }) %>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                var maxField = 10; //Input fields increment limitation
                var addButtonValues = $('.add_button_values'); //Add button selector
                var wrapperValues = $('.field_wrapper_values'); //Input field wrapper
                var x = 1; //Initial field counter is 1
                // var fieldHTML = '<div><input type="text" name="field_name" value=""/><a href="javascript:void(0);" class="remove_button"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a></div>'; //New input field html 
                
                //Once add button is clicked
                $(addButtonValues).click(function(){
                    //Check maximum number of input fields
                    if(x < maxField){ 
                        x++; //Increment field counter
                        $(wrapperValues).append('<div><input type="text" name="value" value=""/><a href="javascript:void(0);" class="remove_button_values"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a></div>'); //Add field html
                    }
                });
                
                //Once remove button is clicked
                $(wrapperValues).on('click', '.remove_button_values', function(e){
                    e.preventDefault();
                    $(this).parent('div').remove(); //Remove field html
                    x--; //Decrement field counter
                });
            });
            </script>
    </div>
</div>
<input type="text" name="type" value="simple" style="display: none;">
