<h2 class="page-header">Create Team</h2>
<form action="/account/teams" method="POST">
<div class="form-item">
    <label>Name</label>
    <input type="text" name="name" id="name">
</div>
<div class="form-item">
    <% function contains(obj, list){ %>
      <%  var i; %>
      <%  for (i = 0; i < list.length; i++) { %>
        <%   if (list[i].id === obj.id) { %>
          <%     return true; %>
          <%   } %>
          <%  } %>
          <% return false; %>
          <% } %>
        <select name="projects" id="projects" multiple>
          <% projects.forEach(project => { %>
                <% if(contains(project, object.projects)) { %> <option selected label="<%= project.name %>" value="<%= project.id %>"> <% } else { %> <option label="<%= project.name %>" value="<%= project.id %>"> <% } %>
          <% }) %>
      </select>
      <%- include('../../partials/multiselect.ejs', { id: 'projects' }) %>
  </div>
<div class="form-item">
    <label>Add User<a href="javascript:void(0);" class="add_button_interests" title="Add field"><img height="20px" src="/public/stylesheets/shared/images/addicon.png"/></a></label>
    <div class="field_wrapper_interests">
        <div>
            <!-- <input type="text" name="field_name" value=""/> -->
            <!-- <a href="javascript:void(0);" class="add_button" title="Add field"><img height="20px" src="/stylesheets/shared/images/addicon.png"/></a> -->
            <% object.users.forEach(user => { %>
            <div>
                <input type="text" name="user" value="<%= user %>"/>
                <a href="javascript:void(0);" class="remove_button_interests"><img height="20px" src="/public/stylesheets/shared/images/removeicon.png"/></a>
            </div>
            <% }) %>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var maxField = 10; //Input fields increment limitation
            var addButtonInterests = $('.add_button_interests'); //Add button selector
            var wrapperInterests = $('.field_wrapper_interests'); //Input field wrapper
            var x = 1; //Initial field counter is 1
            // var fieldHTML = '<div><input type="text" name="field_name" value=""/><a href="javascript:void(0);" class="remove_button"><img height="20px" src="/stylesheets/shared/images/removeicon.png"/></a></div>'; //New input field html 
            
            //Once add button is clicked
            $(addButtonInterests).click(function(){
                //Check maximum number of input fields
                if(x < maxField){ 
                    x++; //Increment field counter
                    $(wrapperInterests).append('<div><input type="text" name="user" value=""/><a href="javascript:void(0);" class="remove_button_interests"><img height="20px" src="/public/stylesheets/shared/images/removeicon.png"/></a></div>'); //Add field html
                }
            });
            
            //Once remove button is clicked
            $(wrapperInterests).on('click', '.remove_button_interests', function(e){
                e.preventDefault();
                $(this).parent('div').remove(); //Remove field html
                x--; //Decrement field counter
            });
        });
        </script>
</div>
<div class="btn-row">
    <a class="btn btn-primary" href="/account/teams">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
</div>
</form>