<h2 class="page-header-big"><%= team.title %></h2>
<h2 class="page-header">Info:</h2>
<div class="image-details">
  <div class="image-details-grid">
    <div class="image-details-label">Users:</div>
    <div><% users.forEach(user => { %> <%= user.email %> | <% }) %></div>
    <div class="image-details-label">Creator:</div>
    <div><%= team.creator.email %></div>
  </div>
</div>
<% if (user == team.creator.id) { %>
<div class="btn-row">
  <a class="btn btn-primary" href="/account/teams/<%= team.id %>/edit">Edit</a>
  <%- include('../../partials/deleteForm', { url: `/account/teams/${team.id}` })
  %>
</div>
<% } %>
<h2 class="page-header">Empathize:</h2>
<h2 class="page-header-smaller">Empathy Notes:</h2>
<% notes.forEach(empathizeNote => { %>
<div class="index-title-row">
  <div class="index-title"><%= empathizeNote.title %></div>
  <div class="btn-row">
    <a class="btn btn-primary" href="/empathizenotes/<%= empathizeNote.id %>"
      >View</a
    >
    <% if(empathizeNote.user.id == user) { %>
    <a
      class="btn btn-primary"
      href="/empathizenotes/<%= empathizeNote.id %>/edit"
      >Edit</a
    >
    <%- include('../../partials/deleteForm', { url:
    `/empathizenotes/${empathizeNote.id}` }) %> <% } %>
  </div>
</div>
<% }) %>
<h2 class="page-header">Define:</h2>
<h2 class="page-header">Ideate:</h2>
<h2 class="page-header">Prototype:</h2>
<h2 class="page-header">Test:</h2>
